<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-cours-heading" jhiTranslate="jhEmployeeApp.cours.home.createOrEditLabel">Create or edit a Cours</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhEmployeeApp.cours.titre" for="field_titre">Titre</label>
                    <input type="text" class="form-control" name="titre" id="field_titre"
                           formControlName="titre"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhEmployeeApp.cours.dateAjout" for="field_dateAjout">Date Ajout</label>
                    <div class="input-group">
                        <input id="field_dateAjout" type="text" class="form-control" name="dateAjout" ngbDatepicker  #dateAjoutDp="ngbDatepicker" formControlName="dateAjout"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="dateAjoutDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhEmployeeApp.cours.eleve" for="field_eleve">Eleve</label>
                    <select class="form-control" id="field_eleve" name="eleve" formControlName="eleve">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="eleveOption.id === editForm.get('eleve').value?.id ? editForm.get('eleve').value : eleveOption" *ngFor="let eleveOption of eleves; trackBy: trackEleveById">{{eleveOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
